/*------------ MY DEFAULTS---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --offwhite: #efe9f0;
  --off-black: #1d1a21;
  --chic-blue: #6e88b1;
  --chic-turqoise: #5393c4;
  --chic-rose: #550a1b;
}

p, h2, h3, h4, h5 {
  font-family: "Helvetica", sans-serif;
}

/* ------------- Header ------------ */
header{
  background-color: var(--off-black);
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--chic-turqoise);
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  font-size: 2.5vw;
  display: flex;
  flex-direction: row;
  font-family: 'Carter One', serif;
}

header h1{
  text-align: center;
  margin-bottom: .5rem;
  color: var(--chic-turqoise);
  font-size: 10vw;
}

@media only screen and (min-width: 1000px) {
  header{
    font-size: 30px
  }
  header h1{
    font-size: 80px;
  }
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */
button {
  background-color: var(--chic-turqoise);
  font-weight: bold;
  color: var(--offwhite);
  text-decoration: inherit;
  border: .25rem solid var(--offwhite);
  border-radius: 1rem;
  padding: .75rem;
}
button:hover {
  background-color: var(--offwhite);
  color: var(--chic-turqoise);
  border: .25rem solid var(--chic-turqoise);
}

